### example of tuples

In [2]:
# tuple with mixed datatypes
my_tuple = (1, "hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [3]:
# nested tuple
my_tuple = ("mouse",[8,4,6],(1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [4]:
# a tuple can also be created without using parentheses
# this is known as tuple packing
my_tuple = 3,4.6, "apple"
print(my_tuple)

(3, 4.6, 'apple')

### Indexing : we can use index operator [] to access an item in atuple , where the index starts from zero . the index must be an integer , so we cannot use float or other types. this will result in TypeError

In [5]:
# accessing tuple using indexing
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[0])     # p
print(my_tuple[5])     # t

p
t

In [6]:
# nested tuple
n_tuple = ("mouse",[8,4,6],(1,2,3))

# nested tuple
print(n_tuple[0][3])                  # 's'
print(n_tuple[1][1])                  # 4

s
4

### Slicing : we can access a range of items in a tuple by using the slicing operator colon :

In [7]:
# accessing tuple elements using slicing
my_tuple = ('e','x','c','a','l','i','b','u','r')

In [8]:
# element 2nd to 4th
# output :('x','c','a')
print(my_tuple[1:4])

('x', 'c', 'a')

In [9]:
# element beginning to 2nd 
# output : ('e','x')
print(my_tuple[:-7])

('e', 'x')

In [12]:
# element 8th to the end 
# output : ('u','r')
print(my_tuple[7:])

('u', 'r')

In [13]:
# element beginning to the end 
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

### Other Operations

In [14]:
# concatenation 
# output : (1,2,3,4,5,6)
print ((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [15]:
# repeat 
# output : ('repeat','repeat','repeat)
print(("repeat",)*3)

('repeat', 'repeat', 'repeat')

In [16]:
my_tuple = ('a','p','p','l','e',)
print(my_tuple.count('p'))     # output : 2
print(my_tuple.index('l'))     # output : 3

2
3

### Sets

In [17]:
# set of integers
my_set = {1,2,3}
print (my_set)

{1, 2, 3}

In [18]:
# set of mixed datatypes
my_set = {1.0,'oye',(1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'oye'}

In [19]:
# set cannot have duplicates
# output : {1,2,3,4}
my_set ={1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [20]:
# we can make set from a list 
# output : {1,2,3}
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [20]:
my_set = {1,2,[3,4]}   # this can not run 
                       # set cannot have mutable items here [3,4]is mutauble list this will cause an error

TypeError: unhashable type: 'list'

### Modifying a set : Sets are mutable . However , since they are unordered , indexing has no meaning

### Creating a empty set is a bit tricky : To make a set without any elemens, use the set () function without any argument

In [21]:
# initializing a with set ()
a = set()

# check data type of a
print (type(a))

<class 'set'>

### set union

In [23]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [24]:
# use | operator
# output : {1,2,3,4,5,6,7,8}
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
# use union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

### set intersection

In [27]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [28]:
# use & operator
# output : {4,5}
print(A&B)

{4, 5}

In [29]:
A.intersection(B)

{4, 5}

### Set Difference

In [30]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [31]:
# use - operator on A 
# output : {1,2,3}
print(A-B)

{1, 2, 3}

In [32]:
B-A

{6, 7, 8}

In [33]:
# use difference function on A 
A.difference(B)

{1, 2, 3}

### Set Symmetric Difference

In [34]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [35]:
# use ^ operator 
print(A^B)

{1, 2, 3, 6, 7, 8}

In [36]:
# use symetric_differences function on A 
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

### Create 2 sets of electric devices and perform set operations on them

In [37]:
set1 = {'laptop','mobile','tablet','camera'}
set2 = {'geyser','fan','remote','camera'}
print(set1)
print(set2)

{'laptop', 'tablet', 'camera', 'mobile'}
{'geyser', 'remote', 'fan', 'camera'}

In [50]:
set1.difference(set2)

{'laptop', 'mobile', 'tablet'}

In [52]:
set2.difference(set1)

{'fan', 'geyser', 'remote'}

In [41]:
set1.union(set2)

{'cpu', 'fan', 'geyser', 'laptop', 'mobile', 'mouse', 'remote', 'tablet'}

In [43]:
set2.union(set1)

{'cpu', 'fan', 'geyser', 'laptop', 'mobile', 'mouse', 'remote', 'tablet'}

In [39]:
set1.add('mouse')
set2.add('cpu')
print(set1)
print(set2)

{'laptop', 'tablet', 'mobile', 'mouse'}
{'fan', 'cpu', 'geyser', 'remote'}

In [47]:
set1 = {'laptop','mobile','tablet','camera'}
set2 = {'geyser','fan','remote','camera'}
print(set1)
print(set2)

{'laptop', 'tablet', 'mobile', 'camera'}
{'fan', 'geyser', 'remote', 'camera'}

In [48]:
set1.intersection(set2)

{'camera'}

In [49]:
print(set1-set2)

{'laptop', 'tablet', 'mobile'}

In [53]:
print(set1 ^ set2)

{'tablet', 'fan', 'geyser', 'remote', 'laptop', 'mobile'}

In [54]:
set1 .symmetric_difference(set2)

{'fan', 'geyser', 'laptop', 'mobile', 'remote', 'tablet'}