### list can be created by the uses of [ ] brackets

In [3]:
# defining list in python

# list of string
list1 = ['Jyotsana','Vidushi','Amita','Priyashi']

# list of numbers
list2 = [ 1, 2, 3, 4, 8, 11, 100 ]

# mixed data list
list3 = ['Kartik',20,90,50,44,56,'B',False,4.765]

# nested list 
list4 = [[1,2,3],[3,4,5],[2,1]]

In [4]:
x = [] # empty list

In [5]:
y = [1] * 10 # duplicated list
print(y)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
y = [1,2,3] * 10 # another duplicated list
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
z =  [3,2,3] + [1,2,3] # concatenated list
print(z)

[3, 2, 3, 1, 2, 3]

In [9]:
a = [1,2,3,4,5,6,7,8,9,10]
print (a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
ab = list(range(1,101))
print(ab)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [14]:
p = list(range(2,51,2))
print(p)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

## list has 11 methods
- addition
   - append
   - insert
   - extend
- deletion
   - remove
   - pop
   - clear
- utility
   - count
   - index
   - copy
   - sort
   - reverse

In [15]:
movies = []

In [16]:
movies.append('Black Panther') # append function is used to add object in the end of the list

In [17]:
print(movies)

['Black Panther']

In [20]:
fav_movie = input ('enter you fav movie: ')
movies.append(fav_movie)
print(movies)

['Black Panther', 'THOR', 'THOR', 'PINK']

In [21]:
for i in range (5):
    movies.append(input('enter the name of the movie:'))
print(movies)

['Black Panther', 'THOR', 'THOR', 'PINK', 'PK', 'MEN IN BLACK', 'AVENGERS', 'SPIDERMAN', 'PINK']

In [22]:
for movie in movies:
    print(f'->{movie.upper()}')

->BLACK PANTHER
->THOR
->THOR
->PINK
->PK
->MEN IN BLACK
->AVENGERS
->SPIDERMAN
->PINK

In [24]:
movies[2] = 'Shazam'
print(movies)

['Black Panther', 'THOR', 'Shazam', 'PINK', 'PK', 'MEN IN BLACK', 'AVENGERS', 'SPIDERMAN', 'PINK']

In [26]:
# insert function
fruit = ['apple', 'banana','cherry']   # insert function adds an item at the specified position
fruit.insert(1, 'orange')
print (fruit)

['apple', 'orange', 'banana', 'cherry']

In [28]:
# extend  function 
fruits = ['apple','banana','cherry','gauva',] # add 2 list
dry_fruits = ['almond','cashew','walnut']
fruits.extend(dry_fruits)
fruits

['apple', 'banana', 'cherry', 'gauva', 'almond', 'cashew', 'walnut']

In [30]:
# sort function
fruits = ['cherry','gauva','apple','banana'] # this function will sort alphabetical order by default
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'gauva']

In [29]:
movies.sort() # this will sort the data in alphabetical order
print(movies)

['AVENGERS', 'Black Panther', 'MEN IN BLACK', 'PINK', 'PINK', 'PK', 'SPIDERMAN', 'Shazam', 'THOR']

In [33]:
movies.remove('PINK') # this will remove the specific data from the list

In [34]:
if 'THOR' in movies:  # another example of remove function
    movies.remove('THOR')

In [35]:
movies.pop(3) # will remove the element

'PINK'

In [36]:
movies.pop() # here we have not describe the element thus by default it will remove

'Shazam'

In [37]:
movies.clear()

In [42]:
x = [12,1,3,44,58,99,100,1,6,4,9,3,7,5,3,2,5,9,90,10]

In [43]:
x.reverse() # this will reverse the whole list
print(x)

[10, 90, 9, 5, 2, 3, 5, 7, 3, 9, 4, 6, 1, 100, 99, 58, 44, 3, 1, 12]

In [41]:
x.count(5) # this will show thw no. of times an element has been repeated

2

In [47]:
x = [1,2,3]
y = x # copy reference

In [48]:
x.append(10)
y.append(20)
print(x)
print(y)

[1, 2, 3, 10, 20]
[1, 2, 3, 10, 20]

In [49]:
z= x.copy()
z.append(100)
x.append(10)
print(x)
print(z)

[1, 2, 3, 10, 20, 10]
[1, 2, 3, 10, 20, 100]

In [50]:
x is y

True

In [51]:
y is z

False

In [52]:
z is x

False